
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('travel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position:  fixed;
}
#container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(250, 247, 247, 0.8); /* Add opacity to improve readability */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #0e0f2c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #5066e0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-button {
    background-color: #f44336;
}
